name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-ansible:
    name: Lint Ansible
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install ansible and ansible-lint
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-lint

      - name: Run ansible-lint
        run: |
          cd ansible
          ansible-lint -x yaml playbook-*.yml

  lint-python:
    name: Lint API
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          if [ -f control-plane/app/requirements.txt ]; then pip install -r control-plane/app/requirements.txt; fi

      - name: Run flake8
        # Ignoring length (E501) and missing docstrings since they are common
        run: |
          cd control-plane
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
